<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of BookList">
    <div class="card h-100">
      <a routerLink="book/{{ book._id }}"
        ><img
          class="card-img-top"
          src="{{ book.image }}"
          alt=""
          style="width: 253.5px; height: 200px"
      /></a>
      <div class="card-body">
        <h4 class="card-title">
          <a routerLink="book/{{ book._id }}"> {{ book.bookName }} </a>
        </h4>
        <p class="card-text">{{ book.description }}</p>
      </div>
      <div class="card-footer">
       Rating: <small class="text-muted">{{ book.rating }} stars</small>
      </div>
    </div>
  </div>
</div>
