<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create User</h5>
        <p class="card-text">Register new users</p>
        <a routerLink="create-user" class="btn btn-primary">Create User</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Users</h5>
        <p class="card-text">View existing users</p>
        <a routerLink="view-users" class="btn btn-primary">View Users</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create Book</h5>
        <p class="card-text">Add new books</p>
        <a routerLink="create-book" class="btn btn-primary">Create Book</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View books</h5>
        <p class="card-text">Check the list of books</p>
        <a href="admin/view-books" class="btn btn-primary">View Books</a>
      </div>
    </div>
  </div>

   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create Category</h5>
        <p class="card-text">Add new category to the categories</p>
        <a href="admin/create-category" class="btn btn-primary">Create Category</a>
      </div>
    </div>
  </div>

   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Home</h5>
        <p class="card-text">Home</p>
        <a href="" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
</div>
