<h2 class="" style="color:#3FB6FA">Admin Login</h2>
<form (submit)="loginAdmin(loginAdminForm)" #loginAdminForm="ngForm">
  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label for="validationServer04">Email</label>
      <input type="text" class="form-control" required name="email" ngModel />
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer03">Password</label>
      <input
        type="text"
        class="form-control"
        value="Enter Password"
        required
        name="password"
        ngModel
      />
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Login</button>
</form>
